<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Flask app</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <h2>
      This is a web application made by Flask! Amazing! Oh, and this is your ip:
      {{ user_ip }}
    </h2>
    <h2>
      Also, in case you didn't already know it, your city is {{ city }},
      <em>but I may be wrong...</em>
    </h2>
  </body>
</html>
